/Part-1/Exercise1.14:Environment/example-backend/
/Part-1/Exercise1.13:Hello,backend!/example-backend/
/Part-1/Exercise1.12:Hello,frontend!/example-frontend/
/Part-1/Exercise1.14:Environment/example-frontend/
/Part-2/train2.1/
/Part-2/train2.2/
/Part-2/Exercise2.3/example-backend/cache/
/Part-2/Exercise2.3/example-backend/common/
/Part-2/Exercise2.3/example-backend/controller/
/Part-2/Exercise2.3/example-backend/pgconnection/
/Part-2/Exercise2.3/example-backend/router/
/Part-2/Exercise2.3/example-backend/.dockerignore
/Part-2/Exercise2.3/example-backend/.gitignore
/Part-2/Exercise2.3/example-backend/app.go
/Part-2/Exercise2.3/example-backend/app_test.go
/Part-2/Exercise2.3/example-frontend/.dockerignore
/Part-2/Exercise2.3/example-frontend/.gitignore
/Part-2/Exercise2.3/example-frontend/src/
/Part-2/Exercise2.3/example-frontend/README.md
/Part-2/Exercise2.3/example-frontend/public/
/Part-2/Exercise2.3/example-frontend/package.json
/Part-2/Exercise2.3/example-frontend/node_modules/
/Part-2/Exercise2.3/example-frontend/package-lock.json
/Part-2/Exercise2.4/example-frontend/package.json
/Part-2/Exercise2.4/example-frontend/node_modules/
/Part-2/Exercise2.4/example-frontend/.dockerignore
/Part-2/Exercise2.4/example-frontend/.gitignore
/Part-2/Exercise2.4/example-frontend/README.md
/Part-2/Exercise2.4/example-frontend/package-lock.json
/Part-2/Exercise2.4/example-frontend/public/
/Part-2/Exercise2.4/example-frontend/src/
/Part-2/Exercise2.4/example-backend/.dockerignore
/Part-2/Exercise2.4/example-backend/README.md
/Part-2/Exercise2.4/example-backend/go.sum
/Part-2/Exercise2.4/example-backend/controller/
/Part-2/Exercise2.4/example-backend/go.mod
/Part-2/Exercise2.4/example-backend/.gitignore
/Part-2/Exercise2.4/example-backend/pgconnection/
/Part-2/Exercise2.4/example-backend/router/
/Part-2/Exercise2.4/example-backend/cache/
/Part-2/Exercise2.4/example-backend/app.go
/Part-2/Exercise2.4/example-backend/common/
/Part-2/Exercise2.4/example-backend/app_test.go
/Part-2/Exercise2.5/scaling-exercise/
/Part-2/Exercise2.6/example-backend/README.md
/Part-2/Exercise2.6/example-backend/.gitignore
/Part-2/Exercise2.6/example-backend/common/
/Part-2/Exercise2.6/example-backend/router/
/Part-2/Exercise2.6/example-backend/go.mod
/Part-2/Exercise2.6/example-backend/app.go
/Part-2/Exercise2.6/example-backend/.dockerignore
/Part-2/Exercise2.6/example-backend/cache/
/Part-2/Exercise2.6/example-backend/app_test.go
/Part-2/Exercise2.6/example-backend/controller/
/Part-2/Exercise2.6/example-backend/go.sum
/Part-2/Exercise2.6/example-backend/pgconnection/
/Part-2/Exercise2.6/example-frontend/README.md
/Part-2/Exercise2.6/example-frontend/public/
/Part-2/Exercise2.6/example-frontend/package-lock.json
/Part-2/Exercise2.6/example-frontend/package.json
/Part-2/Exercise2.6/example-frontend/.gitignore
/Part-2/Exercise2.6/example-frontend/src/
/Part-2/Exercise2.6/example-frontend/.dockerignore
/Part-2/Exercise2.6/example-frontend/node_modules/
/Part-2/Exercise2.7/ml-kurkkumopo-backend/
/Part-2/Exercise2.7/ml-kurkkumopo-frontend/
/Part-2/Exercise2.7/ml-kurkkumopo-training/
/Part-2/Exercise2.8/example-backend/
/Part-2/Exercise2.8/example-frontend/
/Part-2/Exercise2.9/example-backend/
/Part-2/Exercise2.9/example-frontend/
/Part-2/Exercise2.10/example-backend/
/Part-2/Exercise2.10/example-frontend/
/Part-2/Exercise2.9/redis/
/Part-2/Exercise2.9/database/
